$text-color1: #ffffff;
$text-color2: #005d34;
$text-color3: #000000;
$text-color4: #00502e;
$text-color5: #00512e;
$text-color6: #006237;
$text-color7: #00a75e;

$bg-col1: #f1f1f1;
$bg-col2: #ddd;
$bg-col3: #01864b;
$bg-col4: #00180d;
$bg-col5: #cce7db;
$bg-col6: #e8e8e8;

$fs-1: 16px;
$fs-2: 24px;
$fs-3: 48px;
$fs-4: 36px;
$fs-5: 18px;

$fw-1: 700;
$fw-2: 900;
$fw-3: 600;
$fw-4: 800;